*{
	margin:0;
	padding:0; 
	font-family:  'Muli',sans-serif;
	box-sizing:content-box;
	
}
.divider-text
 { 
	position:relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
 }


.divider-text span 
{
	padding:7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}
.divider-text:after
{
	content: "";
	position: absolute;
	width:80%;
	border-bottom: Ipx solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

.btn-gmail 
{
	background-color:#ea4335!important; 
	color: #fff!important;
}
